.chat {
    width: 340px;
    height: 600px;
    position: absolute;
    right:0px;
    bottom: 24px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #e5ddd5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    justify-content: space-between;
    overflow: none;
    z-index: 40;
    & > div {
        overflow: none;
        display: flex;
        padding: 6px;
        align-items: center;
        border-bottom: 1px solid #eee;
        background-color: #353938;
        color: #fff;
        img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
        label{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    form {
        display: flex;
        padding: 10px;
        border-top: 1px solid #eee;
        background-color: #f4f4f4;

        input[type="text"] {
            flex: 1;
            padding: 10px;
            border: none;
            border-radius: 20px;
            margin-right: 10px;
        }

        button {
            background-color: #4f504f;
            color: #fff;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #128C7E;
            }
        }
    }

    .chat-list {
        flex: 1;
        overflow-y: scroll;
        padding: 10px;
        display: flex;
        flex-direction: column;
        
        li {
            padding: 8px 10px;
            margin-bottom: 10px;
            border-radius: 8px;
            max-width: 80%;
            display: flex;
            flex-direction: column;
         
            span {
                font-size: 10px;
            }   
            .txt-area {
                display: flex;
                gap: 6px;
                span {
                    font-size: 13px;
                }
            }
        }
    }
}


.msg-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.msg-mine .txt-area {
    justify-content: flex-end; 
}


.msg-mine {
    background-color: #DCF8C6;
    align-self: flex-end;
    align-items: flex-end; 
}

.msg-mine .txt-area {
    display: flex;
    gap: 6px;
    justify-content: flex-end; 
    span {
        font-size: 13px;
    }
}

.msg-mine .timestamp {
    align-self: flex-end; 
    font-size: 10px;
}

.msg-other {
    background-color: #FFFFFF;
    align-self: flex-start; 
}

.chat.minimized {
    height: 50px;
    overflow: hidden;
}

.typing-indicator {
    font-size: 12px;
    margin-top: 4px;
}


.chat-header {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; 
}

.chat-details {
    display: flex;
    align-items: center;
    gap: 20px;
}
.chat-close-actions{
    display: flex;
    align-items: center;
}
.close-chat { 
    border: none;
    background: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    svg {
        height: 16px;
        width: 16px;
        display: flex;
        place-items: center;
    }
}

.toggle-chat {
    margin-block-end: 4px;
    font-size: 20px;
    margin-left: auto; 
    margin-right: 10px; 
}