.user-details-container {
    width: rem(232px);
    padding-block: rem(4px) rem(8px);
    position: absolute;
    top: 45px;
    right: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(9, 30, 66, 0.15) 0px 8px 12px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    border-radius: rem(8px);
    z-index: 100;

    .user-details {
        padding-inline: rem(20px);

        .close-modal {
            display: flex;
            align-items: center;
            width: 30px;
            height: 30px;
            position: relative;
            left: 175px;
            padding: 8px;
            border-radius: 3px;

            svg {
                width: 16px;
                height: 16px;
                color: rgb(23, 43, 77);
            }
        }

        p {
            font-size: rem(11px);
            font-weight: 700;
            margin-block: rem(16px) rem(8px);
            margin-block-start: -11px;
            color: rgb(98, 111, 134);
        }

        &-display {
            padding-block: 8px;

            img {
                width: rem(40px);
                height: rem(40px);
                border-radius: 50%;
                margin-inline-end: 8px;
                object-fit: cover;
            }

            h2 {
                margin: 0;
                padding: 0;
                line-height: rem(16px);
                font-size: rem(14px);
                font-weight: 400;
                color: rgb(23, 43, 77);
            }

            .userfullname {
                margin-block-start: 2px;
            }

            .user-names {
                flex-direction: column;
            }

            .username {
                font-size: rem(12px);
            }

            .insdie-img {
                width: rem(32px);
                height: rem(32px);
            }

        }



        *> :not(p) {
            font-family: inherit;
        }
    }

    hr {
        width: 100%;
    }

    button {
        width: 100%;
        line-height: 20px;
        padding: 8px 20px;
        text-align: left;
        color: rgb(23, 43, 77);
        font-size: rem(14px);

        &:hover {
            background-color: rgba(9, 30, 66, 0.06);
        }

        &:active {
            background-color: rgba(9, 30, 66, 0.14)
        }
    }
}