.specific-member {
    position: absolute;
    width: rem(304px);
    box-shadow: rgba(9, 30, 66, 0.15) 0px 8px 12px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    padding: 0 12px 12px;
    border-radius: 8px;
    z-index: 1;
    background: white;
    bottom: 430px;

    &-display {
        position: relative;
        padding: 24px 12px 8px 14px;
        margin-inline: -12px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 82px;
            background-image: linear-gradient(to bottom, rgb(12, 102, 228) 0px, rgb(12, 102, 228) 100%);
            background-position: center center;
            background-size: 100% 82px;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            z-index: -1;
        }

        img {
            width: 88px;
            height: 88px;
            border: 1px solid #dcdfe4;
        }

        div {
            flex-direction: column;
            margin-block-start: 8px;
            margin-inline-start: 8px;

            h2 {
                color: white;
                margin: 0;
                line-height: 20px;
            }

            .full-name {
                font-size: rem(16px);
                font-weight: 500;
            }

            .user-name {
                font-size: rem(12px);
                font-weight: 400;
            }
        }

    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 12px 10px 8px;
        border: none;
        background: none;
        cursor: pointer;

        &:hover {
            filter: brightness(75%);
        }

        svg {
            width: 16px;
            height: 16px;
            color: white;
        }
    }

    hr {
        margin-block: 8px;
        background-color: #091e4224;
        border: 0;
        height: 1px;
    }

    .remove {
        width: rem(304px);
        padding: 6px 12px;
        margin-inline: -12px;
        font-size: rem(14px);
        line-height: 20px;
        text-align: left;

        &:hover {
            background-color: #091e420f;
        }

        &:active {
            background-color: #091E4224;
        }
    }

}