.filter-container {
    width: rem(385px);
    position: absolute;
    top: 2px;
    right: 15px;
    z-index: 31;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.15) 0px 8px 12px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;

    header {
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        text-align: center;
        height: rem(40px);
        padding: 4px 8px;
        color: rgb(68, 84, 111);

        h2 {
            margin: 0;
            font-size: rem(14px);
            place-self: center;
            font-weight: 600;
            font-family: inherit;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: rgba(9, 30, 66, .141);
            }

            &:active {
                background-color: #091E424F;
            }

        }

        svg {
            path {
                fill: #626f86;
            }
        }

        .close-filter {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center
        }

    }

    .content {
        padding: 0 12px 12px 12px;

        .search-key {

            input {
                width: 100%;
                padding: 8px 6px;
                margin: 0;
                font-family: inherit;
                font-size: rem(14px);
                line-height: 20px;
                border: 2px solid #DFE1E6;
                border-radius: 3px;
                color: rgb(9, 30, 66);

                &::placeholder {
                    color: rgb(68, 84, 111);
                    font-family: inherit;
                }

                &:focus {
                    background-color: white;
                    border: 2px solid #388bff;
                    outline: none;
                }
            }

            h2 {
                margin: 0;
                margin-block: 8px 4px;
                font-size: rem(11px);
                font-weight: 400;
                color: rgb(68, 84, 111);
            }
        }

        .members {

            ul {
                position: relative;
                z-index: 100;

                li {
                    display: flex;
                    align-items: center;
                    padding: 8px 0 8px 8px;
                    cursor: pointer;

                    .titles {
                        margin-inline-start: 16px;
                        display: flex;
                        align-items: center;

                        h2 {
                            margin: 0;
                            font-family: inherit;
                            font-size: rem(14px);
                            font-weight: 400;
                            line-height: 20px;
                            color: rgb(68, 84, 111);
                        }

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-inline-end: 8px;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background-color: rgba(9, 30, 66, 0.06);
                        }
                    }

                    div {
                        display: flex;
                        align-items: center;
                        border: none;
                        cursor: pointer;
                        font-family: inherit;
                        width: 100%;

                        .select-member {

                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-inline-start: 16px;
                            width: 100%;
                            background-color: rgba(9, 30, 66, 0.06);
                            border-radius: 3px;

                            .select-title {
                                padding: 8px 12px;
                                border: none;
                                cursor: pointer;
                                font-size: rem(14px);
                                background: none;
                                color: rgb(98, 111, 134);
                                width: 100%;

                                &::placeholder {
                                    color: rgb(98, 111, 134);
                                }

                                &:focus {
                                    outline: none;
                                }

                            }

                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-inline-end: 8px;
                                width: 24px;
                                height: 24px;

                                svg {
                                    color: rgb(23, 43, 77);
                                }
                            }

                            &:hover {
                                background-color: rgb(247, 248, 249);
                            }
                        }

                        >* {
                            font-family: inherit;
                        }

                    }

                    .checkbox {
                        height: 16px;
                        display: flex;
                    }

                }

            }

            .member-select-display {
                width: rem(313px);
                z-index: 300;
                border-radius: 8px;
                position: absolute;
                right: 0px;
                bottom: 55px;
                background-color: white;
                cursor: pointer;
                box-shadow: rgba(9, 30, 66, 0.2) 0px 8px 12px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;

                li {
                    .titles {

                        .username {
                            font-size: rem(11px);
                            margin-inline-start: 8px;
                        }
                    }
                }

            }
        }

        .date {
            .calender {
                svg {
                    color: rgb(68, 84, 111);
                }
            }

            .titles {
                .overdue-svg {
                    background-color: rgb(201, 55, 44);
                }

                .duesoon-svg {
                    background-color: rgb(245, 205, 71);
                }

                .complete-svg {
                    background-color: rgb(31, 132, 90);
                }
            }
        }

        .labels {
            .ul-labels {

                li {
                    padding: 0 0 8px 8px;

                    button {
                        width: 100%;
                        height: 32px;
                        margin-inline-start: 16px;
                        font-size: rem(14px);
                        font-weight: 500;
                        text-align: left;
                        padding-inline: 12px;
                        color: rgb(68, 84, 111);
                        line-height: 32px;

                        &:hover {
                            filter: brightness(0.9);
                        }
                    }
                }
            }

            .labels-ul-modal {
                bottom: 52px;

                padding-block: 8px;

                li {
                    padding: 6px;
                }
            }
        }
    }

    p {
        margin-block: rem(16px) (8px);
        font-size: rem(12px);
        line-height: 16px;
        font-weight: 600;
        color: rgb(68, 84, 111);
    }

    svg {
        width: 16px;
        height: 16px;
    }

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-inline-end: 8px;
    }

    .MuiCheckbox-checkbox {
        width: 16px;
        height: 16px;
    }

}