.task {
    &-items-display {
        gap: rem(8px);
        margin-inline-start: rem(56px);
        margin-block: 8px;
    }
}

.members {
    margin: 0 8px 8px 0;

    &-headline {
        font-size: rem(12px);
        font-weight: 600;
        margin: 0 rem(8px) rem(4px) 0;
        color: #44546f;
    }

    &-btn {
        background-color: #091e420f;
        border-radius: 50%;
        width: 32px;
        height: 32px;


        &:hover {
            background-color: #091E4224;
        }

        &:active {
            background-color: #091E424F;

            svg {
                color: #0c66e4;
            }
        }

        svg {
            width: 16px;
            height: 16px;
            color: rgb(68, 84, 111);
        }
    }

    &-detail {
        img {
            margin: 0 rem(4px) rem(4px) 0;
            cursor: pointer;

            &:hover {
                filter: contrast(70%) brightness(120%);
            }
        }
    }
}