.edit-modal {

    .title-container {
        .back-arrow {
            grid-column: 1/2;
            // display: flex;
            align-self: center;
            border: none;
            background-color: white;
            cursor: pointer;
            padding: 6px;
            margin: 0;
        }

        .close-modal {
            &.label {
                align-self: center;
            }
        }

        .back-arrow {
            grid-column: 1/2;
            display: flex;
            align-self: center;
            border: none;
            background-color: white;
            cursor: pointer;
            padding: 6px;
            margin: 0;
            width: 50px;

            svg {
                width: 16px;
                height: 16px;
                // padding: 8px;
            }
        }
    }

    .label {

        &-display {
            // margin: 0 -12px;
            padding: 32px;
            background-color: #f7f8f9;
            height: 100px;
        }

        &-preview {
            width: 100%;
            height: 32px;
            border-radius: 3px;
        }
    }

    .color {


        &-platte {
            display: grid;
            grid-template-columns: repeat(5, 1fr);

        }

        &-display {
            border-radius: 3px;
            border: none;
        }
    }

    hr {
        background-color: #091e4224;
        border: 0;
        height: 1px;
        margin: 16px 0;
    }

    .btn-section {
        .label-btn {

            &-create {
                background-color: #0c66e4;
                border-radius: 3px;
                color: #fff;
                font-size: rem(14px);
                padding: 6px 12px;
                cursor: pointer;
                line-height: 20px;
                font-weight: 500;

                &.delete {
                    background-color: red;
                }
            }
        }
    }
}