.dashboard-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #4242426f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.dashboard-modal {
    background: #ffffff;
    padding: 30px;
    max-width: fit-content;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    align-items: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #b5bec9;
    z-index: 300;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        
        background-color: #a4a4a46b;
        color: #ffffff;
    }
}

.top-section,
.activity-dash, 
.chart-section, 
.tasks-over-time-section, 
.task-overview-section {
    display: flex;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;  
}

.activity-dash {
    flex-direction: column;

}

.board-title, 
.activity-title {
    font-weight: 700;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    color: #2c3e50; 
    margin-bottom: 15px;
}

.dashboard-activities {
    height: 550px;
    overflow-y: auto;
    background: #f6f8fa; 
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 150px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

}

.member-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;  
}

// .dashboard-activities:hover {
//     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
// }

@media screen and (max-width: 1500px) {
    .board-title {
        font-size: 20px;
    }

    .activity-dash {
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    .activity-dash {
        display: none;
    }
}

.tasks-over-time-section{
    display: flex;
    gap: 10px;
}
.user-select-none {
    position: relative;
    width: 280px;
    height: 300px;
}

.activity-title {
    // margin-bottom: 40px;
    font-size: 16px;
    font-family: "Open Sans", verdana, arial, sans-serif;
    // margin-bottom: 60px;
}
.board-info {
    flex: 1;
    height: 200px;
}

.members-section h4 {
    margin-top: 0;
}
.member-distribution-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.tasks-upper-section {
    display: flex;
    gap: 100px;
    margin-left: 60px;
    border-bottom: 3px solid rgba(211, 211, 211, 0.421);
    height: 340px;
    // height: ;
}
.members-container {
    display: flex;
    gap: 15px;
    bottom: 100px;
    left: 60px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    flex-direction: column;
    z-index: 3000;
    flex-wrap: wrap;
}

.chart-section {
    display: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-top: 20px; */
    margin-bottom: 80px;
}

.chart-section > section {
    width: 45%;
}


.member-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.task-overview-section {
    display: flex;
    position: relative;
}












//Dont delete


// .chart-section {
//     display: flex;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     /* margin-top: 20px; */
//     margin-bottom: 40px;
// }

// .chart-section > section {
//     width: 45%;
// }

// .members-section h4 {
//     margin-top: 0;
// }
// .member-distribution-section {
//     display: flex;
//     flex-direction: column;
//     align-items: end;
//     gap: 20px;
// }
// .members-container {
//     display: flex;
//     gap: 15px;
//     bottom: 50px;
//     left: 50px;
//     font-size: 12px;
//     align-items: center;
//     justify-content: center;
//     align-content: center;
//     position: absolute;
//     flex-direction: column;
//     z-index: 3000;
//     flex-wrap: wrap;
// }