.dashboard-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #ffffff;
    padding: 0 70px;
    color: $dsh-txt;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: rem(30px);
        display: flex;
        gap: 20px;
        align-items: center;
    }

    button {
        border: none;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        right: 25px;
        height: 40px;
        width: 40px;
        cursor: pointer;

        svg {
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            path {
                fill: $dsh-txt;
            }
        }

        &:hover {
            background-color: rgba(9, 30, 66, 0.06);
        }
    }

    .dashboard-container {
        max-height: calc(100% - 205px);
        justify-self: center;
        max-width: 1383px;
        padding: 30px;
        display: grid;
        gap: 30px 10px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "dashboard-summary dashboard-summary dashboard-summary dashboard-summary"
        "recent-activities recent-activities tasks-per-member tasks-per-member"
        "recent-activities recent-activities  tasks-per-member tasks-per-member"
        "recent-activities recent-activities tasks-per-group tasks-per-group"
        "recent-activities recent-activities tasks-per-group tasks-per-group"; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        .dashboard-summary {
            grid-area: dashboard-summary;
            width: calc(100% - 50px);
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            justify-self: center;
            height: 80%;

            .summary {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 100%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                align-items: center;
                justify-content: space-evenly;

                .users-number,
                .tasks-status,
                .tasks-overdue {
                    height: 90%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;

                    h3,
                    h4 {
                        font-size: rem(20px);
                        margin-block-start: 0;
                    }
                }

                .users-number {
                    border-right: 1px solid rgba(203, 198, 198, 0.88);
                }
                
                .tasks-status {
                    border-right: 1px solid rgba(203, 198, 198, 0.88);
                    gap: 10px;
                    margin: 10px 0 10px 0;

                    h4 {
                        margin: 0;

                        &.completed {
                            color: $dsh-txt2;
                        }
                    }
                }

                .tasks-overdue {
                    h3 {
                        color: $dsh-txt3
                    }
                }
            }
        }

        .tasks-per-member {
            flex-direction: column;
            display: flex;
            grid-area: tasks-per-member;
            width: 100%;
            height: 100%;
            padding: 10px;
            overflow-y: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            table {
                font-size: rem(14px);
                width: 100%;
                border-collapse: collapse;
                align-self: center;

                th,
                td {
                    text-align: center;
                    border: 1px solid #dddddd;
                    padding: 8px;
                }

                th {
                    text-align: center;
                    background-color: #f2f2f2;
                }
            }

        }

        .recent-activities {
            grid-area: recent-activities;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            padding: 0 20px;
            justify-content: center;
            flex-direction: column;
            max-width: 700px;

            hr {
                border: 0;
                height: 1px;
                background: #ccc;
                margin: 20px 0;
            }


            .activity-dash {
                flex-direction: column;
                display: flex;
                gap: 10px;
                justify-content: space-between;

                .board-title {
                    font-size: rem(20px);
                    font-weight: 600;
                }

                .activity-title {
                    font-size: rem(17px);
                    font-weight: 500;
                }

            }
        }

        .tasks-per-group {
            grid-area: tasks-per-group;
            height: 100%;
            justify-self: right;
            .tasks-per-group-bar {
                max-width: 100%;
                height: 100%;
            }
        }
    }
}