.group-preview-container{

    // box-sizing: border-box;
    // display: inline-block;
    // height: 100%;
    // margin: 0 4px;
   
    // vertical-align: top;
 
    // width: 272px;
    .group-preview {
        display: flex;
        flex-direction: column;
        width: 272px;
        // height: fit-content;
        max-height: 100%;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
        background-color: #ebecf0;
        scroll-margin: 8px;
        white-space: nowrap;
        .header-wrapper {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #ebecf0;
        }

        .footer-wrapper {
            position: sticky;
            bottom: 0;
            z-index: 10;
            background-color: #ebecf0;
            height: max-content;
            align-content: center;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 14px;
            
        }
        footer{
            border-radius: 8px;
            color: #44546F;
            display: block;
            flex: 1 0 auto;
            margin: 8px 0 8px 8px;
            padding: 4px 8px 4px 6px;
            position: relative;
            text-decoration: none;
            -webkit-user-select: none;
            user-select: none;
        }

        .task-list-container {
       
            overflow-x:hidden;
            flex-grow: 1;
            max-height: calc(100vh - 120px);
            
    &::-webkit-scrollbar {
        width: 8px;
        padding-top: 20px;

      }
    
    &::-webkit-scrollbar-thumb {
        background-color: #BFC4CE;
        border-radius: 30px;
        height: 12px;
      }
    
    &::-webkit-scrollbar-track {
        background-color: #D9DCE2;
        border-radius: 30px;
        height: 12px;
        border-bottom: 10px solid transparent;
      }
        }
        header{
            column-gap: 4px;
            display: grid;
            flex: 0 0 auto;
            grid-template-columns: 1fr max-content;
            min-height: 20px;
            padding: 8px;
            position: relative;
            align-items: center;

            .edit-group-title {
                background: #0000;
                border: none;
            }
            section{
                height: 25px;
                width: 25px;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    font-size: 16px;
                    height: 16px;
                    line-height: 20px;
                    width: 16px;
                    
                    color: gray;
                    cursor: pointer;
                    
                }
                &:hover {
                    
                    background-color: rgba(205, 205, 205, 0.545);
                }
            }
        }
    }
    input {
        border: none;
        &:focus-visible {
            outline: none;
        }

        &:focus {
            border: none;
            box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset;
            min-height: 20px;
            max-height: 256px;
        }
    }

    .group-edit{
        position: relative;
    }

    .add-task-preview{
        position: absolute;
    }
    
}