.group-preview-container{
    display: flex;
    flex-direction: column;
    width: 272px;
    height: max-content;
    overflow: hidden;
    border-radius: 12px;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
   background-color: #ebecf0;
    .group-preview {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: scroll;
        &-header{
            align-items: center;
            color: #172b4d;
            display: flex;
            font-weight: 800;
            height: 34px;
            justify-content: space-between;

            textarea {
                background: #0000;
                border-radius: 8px;

                display: flex;
                text-justify: end;
                font-weight: 600;
                height: 20px;
                margin-top: 15px;
                overflow: hidden;
                overflow-wrap: break-word;
                resize: none;
                border: none;
                &:focus-visible {
                    outline: none;
                } 
                &:focus {
                    border: none;
                    box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset;
                    min-height: 20px;
                    max-height: 256px;
                }
            }
            img {
                font-size: 16px;
                height: 20px;
                line-height: 20px;
                width: 20px;
                &:hover{
                    cursor: pointer;
                    // height: 30px;
                    // width: 30px;
                    background-color: gray;
                }
            }
        }
    }
    input {
        border: none;
        &:focus-visible {
            outline: none;
        }

        &:focus {
            border: none;
            box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset;
            min-height: 20px;
            max-height: 256px;
        }
    }

    .group-edit{
        position: relative;
    }
    
}