.group-preview-container{
    display: flex;
    flex-direction: column;
    width: 272px;
    height: max-content;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    background-color: #ebecf0;
    .group-preview {
        display: flex;
        height: max-content;
        max-height: 700px;
        flex-direction: column;
        justify-content: space-between;
        .header-wrapper {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #ebecf0;
        }

        .footer-wrapper {
            position: sticky;
            bottom: 0;
            z-index: 10;
            background-color: #ebecf0;
        }

        .task-list-container {
            overflow-y: scroll;
            overflow-x:hidden;
            flex-grow: 1;
            max-height: calc(100vh - 120px);
        }
        &-header{
            margin-top: 5px;
            align-items: center;
            color: #172b4d;
            display: flex;
            font-weight: 800;
            height: 34px;
            justify-content: space-between;
            .edit-group-title {
                background: #0000;
                border: none;
            }
            img {
                font-size: 16px;
                height: 20px;
                line-height: 20px;
                width: 20px;
                &:hover{
                    cursor: pointer;
                    // height: 30px;
                    // width: 30px;
                    background-color: gray;
                }
            }
        }
    }
    input {
        border: none;
        &:focus-visible {
            outline: none;
        }

        &:focus {
            border: none;
            box-shadow: rgb(0, 121, 191) 0px 0px 0px 2px inset;
            min-height: 20px;
            max-height: 256px;
        }
    }

    .group-edit{
        position: relative;
    }

    .add-task-preview{
        position: absolute;
    }
    
}