.upload-preview {
    label {
        width: rem(320px);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $atc-txt3;
        font-size: rem(14px);
        font-weight: 500;
        background-color: $atc-bgc1;
        border-radius: 3px;
        padding: 6px 12px;

        &:hover {
            background-color: $atc-bgc3;
            cursor: pointer;
        }

        &:active {
            background-color: #091E424F;
        }
    }
}