.content {

    .member {

        &-list-headline {
            margin-block: rem(16px) rem(8px);
            font-size: rem(12px);
        }

        &-preview {
            cursor: pointer;
            margin-block-end: 2px;


            &:hover {
                background-color: rgba(9, 30, 66, .141);
            }
        }

        &-detail {
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            h2 {
                margin-inline-start: rem(8px);
                font-size: rem(14px);
                font-weight: 400;
            }

            span {
                padding: rem(11px);
                margin-inline-start: auto;

                svg {
                    width: 16px;
                    height: 16px;
                    color: rgb(68, 84, 111);
                    font-weight: 400;
                }
            }

        }

    }
}