// .task-details {
//     .layer {
//         position: fixed;
//         top:0;
//         bottom: 0;
//         left:0;
//         width: 100%;
//         height: 100%;
//         background-color: rgba(0, 0, 0, 0.475);
//         z-index: 50;
//     }

//     .modal-container {
//         display: grid;
//         grid-template-columns: 20px minmax(768px, 1fr) 20px;
//         grid-template-rows: 48px 1fr;
//         position: absolute;

//         .task-modal {
//             z-index: 60;
//             grid-column: 2;
//             grid-row: 2;
//             background-color: white;
//             min-height: 600px;
//             max-height: max-content;
//             width:768px ;
//         }
//     }
// }

.task-details {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.475);
    }

    .modal-container {
        display: grid;
        grid-template-columns: 1fr 768px 1fr;
        grid-template-rows: 48px 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
                ". . ."
                ". task-modal .";

        .task-modal {
            grid-area: task-modal;
            z-index: 60;
            background-color: white;
            min-height: 600px;
            max-height: calc(100% - 48px);
            width: 768px;
            overflow-y: auto;
        }
    }
}

