


    // margin-bottom: 24px;
    // position: relative;
    // // &-svg{
    // //     top: 8px;
    // //     left: -40px;
    // //     position: absolute;
    // }
    .task-checklist{
        .checklist-svg{
            position: absolute;
            left: 25px;
        }
        .header{
            display: flex;
        align-items: center;
        }
        .title{
            margin: 0 0 4px 40px;
            padding: 8px 0;
            position: relative;
        }
    }
    
    .checklist-item{
        // border-radius: 12px;
        font-size: 14px;
        // line-height: 20px;
        box-sizing: border-box;
        clear: both;
        padding-left: 33px;
        position: relative;
        
        transform-origin: left bottom;
        transition-duration: .15s;
        transition-property: transform,opacity,height,padding,margin,background-color;
        transition-timing-function: ease-in;
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
        // align-items: center;
        display: flex;
        align-items: center;
        .checkbox{
            position: absolute;
            left: 0;
        }

        span{
            // border-radius: 12px;
            // margin: 0 0 0 -8px;
            overflow-wrap: break-word;
            padding: 6px 8px;
            word-break: break-word;
        }
    }

   
    
    .add-todo {

    margin-left: 40px
    }



.progress-bar{
    margin-bottom: 6px;
    position: relative;

    span {
        color: #44546f;
        font-size: 11px;
        left: 0;
        line-height: 10px;
        position: absolute;
        text-align: center;
        top: -1px;
        width: 32px;
    }
    &-container{
        background: #091e420f;
        border-radius: 4px;
        clear: both;
        height: 8px;
        margin: 0 0 0 40px;
        overflow: hidden;
        position: relative;
        
       
    }

    .fill{
            
        transition-delay: .5s;
        background: #579dff;
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        transition-duration: .14s;
        transition-property: width,background;
        transition-timing-function: ease-in;
    }
}