.task-details {
    position: fixed;
    inset: 0;
    pointer-events: auto;
    z-index: 50;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.475);
 
    .modal-container {
        z-index: 60;
        display: grid;
        
        grid-template-columns:
         clamp(3px, calc((100% - 768px) / 2),40%)
         minmax(300px, 1fr)
         clamp(3px, calc((100% - 768px) / 2),40%);
        grid-template-rows: 48px 1fr 80px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            ". . ."
            ". task-modal ."
            ". . .";

        .task-modal {
            grid-area: task-modal;
            z-index: 60;
            background-color: white;
            min-height: 600px;
            width: 100%;
            max-width: 768px;
        }
    }
}