.task-attachments {
    position: relative;

    header {
        display: flex;
        align-items: center;
        margin: 0 0 4px 40px;
        font-size: rem(16px);
        padding: 8px 0;

        div {
            width: 100%;
            justify-content: space-between;
            display: flex;

            button {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
                font-size: 14px;
                font-weight: 500;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                height: 32px;
                width: 50px;
                padding: 6px 12px;
                background-color: #091e420f;
                border: none;
                color: var(--ds-text, #172b4d);
                &:hover {
                    cursor: pointer;
                    background-color:  #091e4224;
                }
            }
        }

        svg {
            position: absolute;
            left: 3px;
        }
    }

    .task-attachment {
        border-radius: 3px;
        margin: 0 0 8px 40px;
        min-height: 80px;
        overflow: hidden;
        position: relative;
        display: flex;
        width: calc(100% - 40px);

        &:hover {
            background-color: #0000000f;
        }

        button {
            color: #172b4d;
            text-decoration: underline;
            background: none;
            border: none;
            padding: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .img-container {
            // background-position: 50%;
            border-radius: 3px;
            height: 80px;
            left: 0;
            margin-top: -40px;
            position: absolute;
            top: 50%;
            width: 112px;
            background-color: #a5a9a8;
            display: flex;
            justify-content: center;

            img {
                height: 80px;
                width: auto;
            }
        }

        .img-info {
            margin: 0;
            min-height: 80px;
            padding: 8px 8px 8px 128px;
            justify-content: space-between;

            &:hover {
                cursor: pointer;
            }

            h2 {
                color: #172b4d;
                font-size: rem(14px);
                margin: 0;
                font-weight: 700;
            }

            .img-actions {
                display: flex;

                h3 {
                    font-size: rem(14px);
                    color: #44546f;
                    margin: 0 13.5px 0 0
                }
            }

            .cover-container {
                display: flex;
                align-items: center;

                svg {
                    color: #44546f;
                    width: 16px;
                    height: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-inline-end: 4px;
                }
            }
        }
    }
}