.main-container {
    display: grid;
    background: center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    width: 100%;
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);
    height: rem(680px);
    font-family: 'Charlie Text', sans-serif;
    .home-wave{
        display: flex;
        align-self: end;
        height: 250px;
    }
    .enter-section {
        height: rem(560px);
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        position: relative;
        width: rem(1140px);
        &-img {
            img {
                position: absolute;
                height: rem(570px);
                width: rem(620px);
                bottom: rem(-110px);
            }    
        }
        a {
            display: flex;
            color: rgb(255, 255, 255);
            align-items: center;
            border-bottom: 1px solid white;
            margin: 2px;
            font-size: rem(16px);
            fill: white;
            img{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid white;

            }
       }

       &-details {
        padding: 5rem 1rem 1rem;
        position: relative;
        scroll-margin-top: 72px;
        text-align: left;
        width: 100%;
        margin-top: 0px;
                h1{
                font-size: 3rem;
                line-height: 1.25;  
                text-align: left;
                margin-top: 0px;
            }
            p {
                margin-bottom: rem(20px);
            }
            button {
                display: flex;                
                appearance: none;
                -webkit-box-align: center;
                align-items: center;
                border-radius: 0.3rem;
                cursor: pointer;
                display: inline-flex;
                text-align: center;
                transition: all 250ms ease-out 0s;
                text-decoration: none;
                background-color: rgb(0, 101, 255);
                border: 1px solid rgb(0, 101, 255);
                font-size: 1rem;
                padding: 0.7rem 1rem 0.8rem;
                color: rgb(255, 255, 255) !important;
            }
       }
      
    }

}