
.layout {
    max-width: 1200px;
    margin: 0 auto;
}

.home-container {
    padding: 0;
    background-color: white;
    height: 100vh;
    overflow: auto;
    font-family: 'Charlie Text', sans-serif;
    // display: grid;
    // grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    width: 100%;


    p {
        font-family: 'Charlie Text', sans-serif;
        // font-size: 1.25rem;
        text-align: left;

    }

    .hero-con {
        display: grid;

        grid-template-columns: 1fr 1fr;
        height: 100%;
    }
    .hero-container {
        background: url(https://images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
        color: #ffff;
        padding: 8em;
        height: 80vh;
        display: grid;
        flex-wrap: wrap;

            .demo-btn {
                
                display: flex;                
                appearance: none;
                -webkit-box-align: center;
                align-items: center;
                border-radius: 0.3rem;
                font-weight: 800;
                cursor: pointer;
                display: inline-flex;
                text-align: center;
                transition: all 250ms ease-out 0s;
                text-decoration: none;
                background-color: rgb(0, 101, 255);
                border: 1px solid rgb(0, 101, 255);
                font-size: 1rem;
                padding: 0.7rem 1rem 0.8rem;
                color: rgb(255, 255, 255) !important;
                width: max-content;
                margin-top: 40px;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .signup-intro {
            display: flex;
            flex-direction: column;
            height: 100%;
            grid-column: 1;
            width: 100%;
            h2 {
                font-size: 3.5rem;
                line-height: 1.25;  
                margin-top: 0px;
            }

            h3 {
                font-size: 2.5rem;
            } 
            
            p {
                font-size: 1.5rem;
            }
        }

        .hero {
            img {
                display: flex;
            margin-left: 85px;
            width: 100%;
            }
        }

    }

    .app-desc {
        padding: 2rem 9rem;
        display: flex;
        align-items: flex-start;
        grid-column: 2;
        .desc {
            font-family: 'Charlie Text', sans-serif;
            font-size: rem(20px);
            h2 {
                margin-bottom: 40px;
                font-size: rem(36px);
            }
        }

    }

    .boards-desc {
     
        padding: 2em 6em;

        grid-column: 2;
        // gap: 50px;
        justify-content: center;
        font-size: 16px;
        background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
        .layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .tabs {      
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 420px;
            h4 {
                text-align: left;
            }
            .tab {
                padding: 1rem 1rem 1rem 1.5rem;
                width: 347px;
                position: relative;
            }


            .tab:focus {
                background-color: rgb(255, 255, 255);
                box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
                border-radius: .3rem;
                border: 0;
                padding: 1rem 1rem 1rem 1.5rem;
                color: rgb(9, 30, 66);

                &::after {
                    background-color: rgb(0, 199, 229);
                    border-radius: 0.3rem 0px 0px 0.3rem;
                    bottom: 0px;
                    content: "";
                    left: 0px;
                    position: absolute;
                    top: 0px;
                    width: 0.5rem;
                }
            }
        }

        .imgs-section {
            width: 60%;
            img {
                margin-left: 35px;
               max-width: 94%; 
            }
        }

    }

    .discover{
        height: 100%;
        grid-column: 2;
        background:  url("//images.ctfassets.net/rz1oowkt5gyp/7KgS3XVFhGu3TiclJKloEp/c10aad15fb171a6c245db9cb7910247d/ViewsBackground_Left_Narrow.svg") left center / contain no-repeat scroll padding-box border-box, url("//images.ctfassets.net/rz1oowkt5gyp/2HisRmboWIdXSYaaUSDzon/dadecff4be8a39bf2cf3cc537bd4d9c1/ViewsBackground_Right_Narrow.svg") right center / contain no-repeat scroll padding-box border-box, linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255);
        background-blend-mode: normal, normal, normal;
        color: rgb(82, 82, 82);
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        
        .task-btn {
            color: #ffff;
        }
        header{
            margin-top: 100px;
            color: #ffffff;
            width: 66.6667%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .square-info{
            background-color: #ffffff;    
            align-items: center;
            justify-content: center;
            color: rgb(9, 30, 66);
            -webkit-box-align: center;
            align-items: center;
            border-radius: 0.5rem;
            box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
            display: flex;
            // gap: 2rem;
            justify-content: space-between;
            padding: 1.5rem;
            text-align: left;
            margin-bottom: 30px;
            // padding-bottom: 3rem; 
            article{
                padding: 0px 2rem;
                width: 45%;
                span{
                    -webkit-box-align: center;
                    align-items: center;
                    display: flex;
                    gap: 1rem;
                    margin-bottom: 1.5rem;
                }
                svg{
                    // fill: #574f7d;
                    height: 32px;
                    width: 32px;
                    
                }
            }
            img{
                height: 300px;
                width: 550px;
            }          
        }
        .sq1{
            margin-bottom: 80px;
            svg{
                fill: #574f7d;
            }

        }

        .sq2{
            svg{
                fill: aqua;
            }           
        }
    }

    .intuitive-features{
        margin-top: 100px;
        margin-left: calc((100vw - 1200px) / 2);
        height: 900px;
        header{
            display: flex;
            flex-direction: column;
            align-self: baseline;
        }
        .cards {
            display: flex;
            gap: 70px;
         
            .card{
                padding: 1.5rem;
                margin-left: 0%;
                flex: 0 0 auto;
                max-width: 350px;
                background-color: rgb(250, 251, 252);
                color: rgb(9, 30, 66);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            img {
                height: 80px;
                width: 80px;
            }

            button{
                user-select: none;
                -webkit-box-align: center;
                align-items: center;
                border-radius: 0.3rem;
                cursor: pointer;
                display: inline-flex;
                text-align: center;
                transition: all 250ms ease-out 0s;
                text-decoration: none;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(0, 101, 255);
                font-size: 1rem;
                padding: 0.7rem 1rem 0.8rem;
                color: rgb(23, 43, 77) !important;
                width: max-content;
          
            }
        }
        
    }
        
    .signup{
        grid-column: 2;

        // height: 260px;
        background: url(https://images.ctfassets.net/rz1oowkt5gyp/6Q4l8SJeMZGSu1m6W9vAjL/1021a10f6940ce44c50d0ffaefec223e/BigSwingFooterHeroGraphic__Left.svg) left center / contain no-repeat scroll padding-box border-box, url(https://images.ctfassets.net/rz1oowkt5gyp/7KsuX6srvRqJVzeAIdIzIb/da1a3319c278d251ecbd078fcffdcd23/BigSwingFooterHeroGraphic__Right.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
        background-blend-mode: normal, normal, normal;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        form{
            display: flex;
            gap: 20px;
            height: 70px;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            // input{
            //     width: 200px;
            // }
        }
    }    
        




    footer{
        display: flex;
        flex-direction: column;
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        background-color: rgb(23, 43, 77);
        color: rgb(255, 255, 255);
        height: rem(230px);
        grid-column: 2;

    
        .upper-section{
            display: flex;
            border-bottom: 1px solid rgba(211, 211, 211, 0.325);
            align-items: center;
            justify-content: space-between;
            margin-left: calc((100vw - 1200px) / 2);
            width: 100%;
            // h3{
            //     font
            // }
            height: 130px;
           
            div{
                display: flex;
                flex-direction: column;
                .logo {
                    display: flex;
            align-items: center;
            font-size: 1.25rem;
            height: 32px;
            padding: 0 8px;
                }
            }
            img{
                height: 40px;
                width: 100px;
            }
            article{
                margin-top: 18px;
                width: 180px;
                display: flex;
                flex-direction: column;
                span{
                    font-size: 18px;
                }
                p{
                    font-size: rem(14px);
                }

                &:hover{
                    background-color: lighten(rgba(23, 43, 77, 0.541), 70%);
                    // opacity: 0.5;
                    // background-color: ;
                    cursor: pointer;
                }
            }
            
           
        }

        .lower-section{
            margin-left: calc((100vw - 1200px) / 2);
            width: 100%;

            display: flex;
            height: 40px;
            justify-content: space-between;
            align-items: center;
            section {
                fill:white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                a{
                    display: flex;
                    align-self: center;
                }
            }

            .policies{
                font-size: 12px;
                // gap: 20px;
                display: flex;
                gap: 30px;
                margin-left: 20px;
                // margin-left: ;
                // gap:30px;
            }

            .social-links{
                fill: white;
                display: flex;
                gap: 20px;
                // align-items: center;

                
                a{
                    border: 1px solid white;
                    height: 26px;
                    width: 26px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        scale: 0.9;
                        cursor: pointer;
                        transition: scale 0.4s;
                    }
                }
            }
        }
    }
}



