.workspace-container {
    margin: auto;
    margin-block-start: rem(40px);
    width: rem(825px);


    // for nav
    // nav {
    //     flex-direction: column;
    //     gap: 4px;
    //     width: 195px;
    //     height: 85px;
    //     // padding: 6px 8px;

    //     button {
    //         align-items: center;
    //         text-align: left;
    //         gap: 8px;
    //         margin-bottom: 4px;
    //         // width: 177px;
    //         // height: rem(24px);
    //         padding: 6px 8px;
    //         border: none;
    //         border-radius: 8px;
    //         background-color: inherit;
    //         cursor: pointer;

    //         &:hover {
    //             background-color: rgba(9, 30, 66, 0.14);
    //             // color: #0C66E4;
    //         }

    //         &:active {
    //             background-color: rgba(9, 30, 66, 0.31);
    //         }

    //         // &:focus {
    //         //     background-color: rgb(233, 242, 255);
    //         //     color: #0c66e4;
    //         // }

    //         span {
    //             font-size: rem(14px);
    //             font-weight: 500;
    //             color: rgb(23, 43, 77);
    //         }

    //         svg {
    //             width: 16px;
    //             height: 16px;
    //             font-size: rem(16px);
    //             color: rgb(68, 84, 111);
    //         }
    //     }
    // }

    .boards {

        flex-direction: column;
        gap: rem(48px);

        &-workspace-container {

            div {
                gap: rem(8px);
                padding: 0 0 11px;

                .title {
                    font-size: rem(16px);
                    font-weight: 700;
                    color: rgb(23, 43, 77);
                }

                .svg {
                    width: 32px;
                    height: 32px;
                    font-size: rem(24px);
                    color: rgb(68, 84, 111);

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }

            }

        }

        &-add {
            width: rem(190px);
            height: rem(100px);
            background-color: rgba(9, 30, 66, 0.06);
            border-radius: 3px;
            cursor: pointer;
            font-size: rem(16px);
            font-weight: 400;
            line-height: rem(20px);

            &:hover {
                background-color: rgba(9, 30, 66, 0.14);
            }

            &:active {
                background-color: rgba(9, 30, 66, 0.31);
            }
        }
    }
}