.activities {
    position: relative;
    .activity {
        margin-left: 40px;
        min-height: 32px;
        padding: 8px 0;
        position: relative;
        font-size: 14px;
        img {
            height: 34px;
            width: 100%;
            left: -40px;
            position: absolute;
            top: 8px;
            border-radius: 50%;
            object-fit:fill;
        }
        
        article {
            word-wrap: break-word;
            margin-left: 5px;
             a {
                color :#0c66e4
             }
        }
    }
    .activity-member-view {
        color:  #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-display: swap;
        list-style-type: none;
        margin-left: -12px;
        margin-right: -12px;
        padding: 6px 12px;
        cursor: pointer;
    }
}