.board {

    &-list {
        gap: rem(17px);
        flex-wrap: wrap;
    }

    &-preview {

        width: 190px;
        height: 96px;
        border-radius: 3px;
        background-position: center center;
        background-size: cover;
        position: relative;



        &:hover {
            filter: brightness(0.9);

            .details span {
                right: 12px;
                opacity: 1;
            }

            a {
                text-decoration: none;
            }
        }



        a {
            display: flex;
            height: 100%;
            width: 100%;
        }

        .details {
            width: 100%;
            padding: 8px;
            flex-direction: column;
            justify-content: space-between;

            &.true {
                background-color: rgba(0, 0, 0, 0.3)
            }

            &.false {
                background-color: rgba(0, 0, 0, 0.15);
            }

            h2 {
                font-size: rem(16px);
                font-weight: 700;
                color: #fff;
                height: 20px;
                line-height: 20px;
                margin: 0;
            }

            span {
                position: absolute;
                align-self: end;
                right: -20px;
                top: 67px;
                transition: right .2s, opacity .2s;
                opacity: 0;

                &:hover {
                    scale: 1.2;
                }

                svg {
                    font-size: rem(14px);
                    font-weight: 700;
                    color: #fff;
                    height: 18px;
                }
            }

            .star-svg-full {
                opacity: 1;
                right: 12px;

                svg {
                    fill: rgb(226, 178, 3);
                }
            }
        }
    }
}