.group-edit-modal {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    min-width: 304px;
    z-index: 100;

    header {
        align-items: center;
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        padding: 4px 8px;
        position: relative;
        text-align: center;

        div {
            box-sizing: border-box;
            color: #172b4d;
            color: #44546f;
            display: block;
            font-size: 14px;
            font-weight: 600;
            grid-column: 1/span 3;
            grid-row: 1;
            height: 40px;
            letter-spacing: -.003em;
            line-height: 16px;
            line-height: 40px;
            margin: 0;
            overflow: hidden;
            padding: 0 32px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;
        }

        .close-btn {
            border-radius: 8px;
            color: #626f86;
            grid-column: 3;
            grid-row: 1;
            padding: 6px;
            z-index: 2;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #d4d6dc;
            }
        }

        .back-btn {
            border-radius: 8px;
            color: #626f86;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            grid-column: 1;
            grid-row: 1;
            padding: 6px;
            z-index: 2;
            margin-left: 3px;

            svg {
                fill: #626f86;
                height: 14px;
                width: 16px;
            }

            &:hover {
                background-color: #d4d6dc;
            }
        }
    }

    ul {
        max-height: 870px;
        overflow-x: hidden;
        overflow-y: auto;

        li {
            display: block;
            padding: 6px 10px;
            margin-top: 4px;
            margin-bottom: 4px;
            cursor: pointer;
            transition: background 0.2s;
            font-size: 14px;

            &:hover {
                background-color: #d4d6dc;
            }
        }

        hr {
            background-color: #091e4233;
            border: 0;
            height: 1px;
            margin: 0 auto;
            width: 95%;

            :last-of-type {
                margin-bottom: 8px;
            }
        }
    }
}