.task-details {
    position: fixed;
    inset: 0;
    pointer-events: auto;
    z-index: 50;
    overflow-y: scroll;
    background-color: $dtl-bgc5;

    .modal-container {
        z-index: 60;
        display: grid;

        grid-template-columns:
            clamp(3px, calc((100% - 768px) / 2), 40%) minmax(300px, 1fr) clamp(3px, calc((100% - 768px) / 2), 40%);
        grid-template-rows: 48px 1fr 80px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            ". . ."
            ". task-modal ."
            ". . .";

        .task-modal {
            overflow: hidden;
            grid-area: task-modal;
            z-index: 60;
            background-color: $dtl-bgc6;
            min-height: 600px;
            width: 100%;
            max-width: 768px;
            position: relative;
            border-radius: 8px;

            a {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 12px;
                right: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                &:hover {
                    background-color: $dtl-bgc2;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    color: $dtl-txt1;
                }
            }

            .img-cover {
                justify-content: center;
                max-height: 160px;
                display: flex;

                img {
                    width: auto;
                    max-height: 160px;
                }
            }

            .color-cover {
                width: 100%;
                height: 116px
            }

            .task-title {
                display: flex;
                margin: 16px 8px 8px 20px;
                align-items: center;
                gap: 6px;
            }

            .task-main {
                width: 100%;
                display: grid;
                grid-template-columns: calc(100% - 192px) 192px;
                gap: 16px;
                padding: 0 8px 8px 16px;

                .task-descriptoin {
                    margin: 8px 0 24px 0;
                    position: relative;

                    .description-title {
                        display: flex;
                        align-items: center;
                        margin-inline-start: 40px;
                        font-size: rem(16px);
                        font-weight: 600;

                        svg {
                            position: absolute;
                            left: 3px
                        }
                    }

                    .description-input {
                        padding: 8px 12px;
                        margin-inline-start: 40px;
                        width: calc(100% - 40px);
                        
                        &.add-description {
                            font-size: rem(14px);
                            background-color: $dtl-bgc4;
                            font-weight: 500;
                            border-radius: 3px;
                            color: $dtl-txt2;
                            margin: 18px 0 0 40px;
                            height: 56px;
                            padding: 8px 12px;
                            width: calc(100% - 40px);

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

        }
    }
}