.group-header {
    position: sticky;
    top: 0;
    z-index: 1; // Ensures the header is above other content.
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(56px);

    &.bgc {
        backdrop-filter: blur(4px);
        background: rgba(0, 0, 0, 0.24);
    }

    .visibility {
        margin-left: 20px;
        display: flex;
        align-items: baseline;
    }

    .header-title {
        // width: max-content;
        // width: 100%;


    }

    input {
        border-radius: 3px;
        font-size: 18px;
        border: none;
        font-weight: 700;
        line-height: 32px;
        background: none;
        outline: none;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        padding: 0 10px;
        font-family: inherit;

        &:hover {
            cursor: pointer;
            background: hsla(0, 0%, 100%, .239);
        }

        &:focus {
            background-color: white;
            border: 1.8px solid #0c66e4;
            padding: 0 10px;
            color: black;
        }
    }

    &-btn {
        display: flex;
        align-items: center;
    }

    svg {
        width: 15px;
        height: 15px;
    }

    button {
        margin: 0 4px 0 0;
        background: none;
        height: 32px;
        border: none;
        font-size: rem(14px);
        border-radius: 3px;
        height: 32px;
        font-family: inherit;

        &:hover {
            cursor: pointer;
            // background-color: lighten(rgb(173, 170, 170), 5%);
            background-color: rgba(166, 197, 226, 0.16);
        }
    }

    .group-header-btn {
        display: flex;
        gap: 8px;
        padding: 6px 10px 6px 12px;
        // /

        &.brightColor {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-weight: 500;

            &:hover {
                background-color: rgba(0, 0, 0, 0.6);
            }

        }

        &.darkColor {
            background-color: #DFE1E6;
            color: rgb(23, 43, 77);
            font-weight: 500;

            &:hover {
                background-color: #FFFFFF;
            }
        }
    }



    .img {

        gap: 4px;
        position: relative;

        .member-img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            left: 40px;
            cursor: pointer;

            &:hover {
                filter: contrast(70%) brightness(120%);
            }
        }
    }

    >* {
        font-weight: 700;
        color: white;
    }

    .separate-line {
        width: 1px;
        color: hsla(0, 0%, 100%, .31);
        margin-inline: 8px 6px;
    }
}