.about-board {
    margin: 12px;
    width: 100%;

    &-title {
        margin-block-end: 4px;

        P {
            font-size: rem(16px);
            font-weight: 600;
            margin: 0;
            padding-block: 8px;
            color: rgb(23, 43, 77);
        }

        span {
            width: 32px;
            height: 32px;

            svg {
                width: 24px;
                height: 24px;
                color: rgb(68, 84, 111)
            }
        }
    }

    &-members {
        margin: 0px 0 14px 7px;

        .member-img-display {
            position: relative;

            img {
                width: 32px;
                height: 32px;
                margin-inline-start: -2px;
                cursor: pointer;
                border-radius: 50%;
                object-fit: cover;

                &:hover {
                    filter: contrast(70%) brightness(120%);
                }
            }

            span {
                width: 9px;
                height: 9px;
                position: absolute;
                bottom: -1px;
                left: 18px;
                z-index: 20;
                background-size: cover;
                background-image: url(https://trello.com/assets/88a4454280d68a816b89.png);
            }
        }

    }

    &-description {

        .description-area {
            font-size: rem(14px);
            font-weight: 600;
            line-height: 22.4px;
            padding: 8px 12px;
            border-radius: 3px;
            color: rgb(23, 43, 77);
            background-color: rgba(9, 30, 66, 0.06);
        }
    }

    hr {
        margin: 12px;
    }

}