.edit-modal {
    &.shared-board {
        position: absolute;
        top: 50px;
        right: 35px;

        .title-container {
            button {

                svg {
                    path {

                        fill: rgb(68, 84, 111);
                    }
                }
            }
        }


        .edit-modal-content {
            &.shared-board {
                input {
                    width: 100%;
                    padding: 8px 6px;
                    margin: 0;
                    font-family: inherit;
                    font-size: rem(14px);
                    line-height: 20px;
                    border: 2px solid #DFE1E6;
                    border-radius: 3px;
                    color: rgb(9, 30, 66);

                    &:focus {
                        background-color: white;
                        border: 2px solid #388bff;
                        outline: none;
                    }
                }

                &::placeholder {
                    color: rgb(68, 84, 111);
                }

                p {
                    padding-inline-start: rem(4px);
                }

            }

            span {
                svg {
                    path {
                        fill: rgb(9, 30, 66);
                    }
                }
            }
        }


        >* {
            color: rgb(23, 43, 77);
        }
    }
}