@media only screen and (max-width: 900px) {
    .workspace-container {
        .boards {
            width: rem(607px);
        }
    }

    .login-page-container {
        .login-page {
            box-shadow: none;
        }

        footer {
            display: none;
        }
    }
}

@media only screen and (max-width: 660px) {
    .workspace-container {
        .boards {
            width: 90%;

            .board-preview,
            .boards-add,
            .no-board-container {
                width: 48%;
            }
        }

        .add-board {
            top: unset !important;
            bottom: 0px !important;
            left: 0px !important;
            width: 100%;
            box-shadow: 0px -10px 6px -4px rgba(0, 0, 0, 0.3);
            animation: slideUp 0.4s ease-in;

            @keyframes add-board {
                from {
                    transform: translateY(100%);
                }

                to {
                    transform: translateY(0);
                }
            }

            &-display {
                .display-container {
                    width: rem(250px);
                    height: rem(150px);

                    img {
                        width: rem(225px);
                        height: rem(125px);
                    }
                }
            }

            .img-option {
                img {
                    width: 100%;
                    height: rem(75px);
                }
            }

            .color-option {
                img {
                    width: 15.5%;
                    height: rem(50px);
                }
            }

            .board-title-input {
                input {
                    height: rem(40px);
                    font-size: rem(16px);
                }

            }

            .create-board {
                height: rem(40px);
            }
        }
    }

    .group-list-container {
        .filter-container {
            width: 100%;
            overflow-y: scroll;
            animation: slideUp 0.4s ease-in;
            position: fixed;
            top: calc(50% + 65px);
            left: calc(50% + 15px);
            transform: translate(-50%, -50%);

            .members {
                .member-select-display {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 490px) {
    .workspace-container {
        .boards {
            width: 80%;

            .board-preview,
            .boards-add,
            .no-board-container {
                width: 100%;
            }

        }

        .add-board {

            .img-option {
                img {
                    width: rem(70px);
                    height: rem(50px);
                }
            }

            .color-option {
                img {
                    width: 14.5%;
                    height: rem(34px);
                }
            }
        }

    }



    .login-page-container {
        .login-page {
            width: rem(300px);
        }
    }
}

@media only screen and (max-width: 670px) {
    .task-details {
        overflow-y: auto;

        .modal-container {
            display: flex;
            height: 100%;

            .task-modal {
                overflow-y: auto;
                height: 100%;
                border-radius: 0px;

                .task-detail-screen {
                    .task-title {
                        padding-left: 27px;
                        padding-top: 8px;
                        border-bottom: 2px solid #dcdcdc;
                        margin-block-end: 8px;

                        svg {
                            left: 5px
                        }

                        div {
                            height: auto;
                        }
                    }

                    .task-main {
                        display: flex;
                        flex-direction: column;

                        .actions-show-btn {
                            display: flex;
                            justify-content: space-between;
                            cursor: pointer;
                            font-weight: 500;
                            color: $h-h-txt1;
                            border: none;
                            width: calc(100% - 47px);
                            margin: 0 0 10px 37px;
                            padding: 6px 12px;
                            font-size: rem(16px);
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            gap: 10px;
                            align-items: center;
                            background: none;
                            border-top: 1px solid $clr7;
                            border-bottom: 1px solid $clr7;

                            span {
                                display: flex;
                                align-items: center;
                            }

                            svg {
                                align-self: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 25px;
                                width: 25px;

                                path {
                                    fill: $h-h-txt1
                                }
                            }

                            &:hover {
                                background-color: lighten(#172b4d0e, 3%)
                            }

                            &:active {
                                background-color: darken(#172b4d0e, 3%)
                            }
                        }

                        .task-info {
                            .task-items-display {
                                margin-inline-start: 37px;
                            }

                            .task-date-show {
                                margin-inline-start: 37px;
                            }

                            .task-details-title {
                                margin-inline-start: 37px;

                                svg {
                                    left: 2px
                                }
                            }

                            .task-content {
                                >* {
                                    border-bottom: 1px solid #e5e7eb;
                                }

                                >:first-child {
                                    border-top: 1px solid #e5e7eb;
                                }

                                .task-descriptoin {
                                    .desc-actions {
                                        margin-inline-start: 37px;
                                        margin-block-end: 10px;
                                    }

                                    .description-input {
                                        margin-inline-start: 25px;
                                        width: calc(100% - 20px)
                                    }

                                    .description-input.add-description {
                                        margin-inline-start: 37px;
                                        margin-block-end: 10px;
                                        width: calc(100% - 37px)
                                    }
                                }

                                .task-checklist {
                                    margin-block-end: 10px;

                                    .checklist-item {
                                        margin-inline-start: -3px;
                                    }

                                    .checklist-svg {
                                        left: 2px
                                    }

                                    .list-title {
                                        .title {
                                            margin-inline-start: 37px;
                                        }
                                    }

                                    .add-group-input-expanded {
                                        margin-inline-start: 37px;
                                    }

                                    .progress-bar {
                                        margin-inline-start: 0;

                                        .progress-bar-container {
                                            margin-inline-start: 37px;
                                        }

                                        span {
                                            width: 30px;
                                        }
                                    }

                                    .add-todo-container {
                                        margin-inline-start: 37px;

                                        div {
                                            width: calc(100% - 10px);
                                        }
                                    }

                                    .add-todo {
                                        margin-inline-start: 37px;
                                    }
                                }

                                .task-activities {
                                    margin-block-start: 8px;

                                    header {
                                        svg {
                                            margin-inline-start: 3px;
                                        }

                                        span {
                                            margin-inline-start: 37px;
                                        }
                                    }

                                    .task-descriptoin {
                                        img {
                                            margin-inline-start: 1px !important;
                                        }

                                        .write-comment {
                                            margin-inline-start: 37px;
                                            width: calc(100% - 37px);
                                        }
                                    }

                                    .comment-item {
                                        margin-inline-start: 37px !important;

                                        img {
                                            left: -36px;
                                            top: 5px;
                                            margin-inline-end: 2px;
                                        }
                                    }

                                    .activity {
                                        margin-inline-start: 21px;

                                        img {
                                            left: -32px;
                                            margin-inline-end: 2px;
                                        }
                                    }

                                }

                                .task-attachments {
                                    .task-details-title {
                                        padding-top: 0;
                                    }

                                    .task-attachment {
                                        margin-inline-start: 37px;

                                        .img-info {
                                            padding-top: 0;

                                            .img-actions {
                                                h3 {
                                                    font-size: rem(13px);
                                                }
                                            }

                                            h2 {
                                                white-space: nowrap;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .edit-task-nav {
                            grid-column: 1;
                            border-bottom: 1px solid #e5e7eb;

                            .add-container {
                                margin-inline-start: 27px;
                                flex-direction: row;
                                flex-wrap: wrap;

                                .edit-modal {
                                    transition: transform 0.2s ease-in;
                                    position: fixed;
                                    width: 100%;
                                    bottom: 0 !important;
                                    left: 0 !important;
                                    top: unset !important;
                                    box-shadow: 0px -10px 6px -4px rgba(0, 0, 0, 0.3);

                                    .edit-modal-content {
                                        width: 100%;

                                        .add-attachment-container {

                                            label,
                                            input {
                                                width: 100%;
                                            }
                                        }

                                        .label-edit {
                                            .color {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }

                                .btn {
                                    width: 130px
                                }

                                h3 {
                                    display: none;
                                }
                            }

                        }

                    }
                }
            }
        }
    }


    .task-btn {
        font-size: rem(13px);
    }


    .slide-up {
        animation: slideUp 0.2s ease-in;
    }
    @keyframes slideUp {
        0% {
            transform: translateY(100%) translateX(-50%);
            opacity: 0;
          }
          50% {
            transform: translateY(-50%) translateX(-50%);
            opacity: 1;
          }
          100% {
            transform: translateY(-50%) translateX(-50%);
            opacity: 1;
          }
    }
}