@font-face {
    font-family: charlie;
    src: url(../../fonts/Charlie/CharlieText-Regular.ttf);
}

@font-face {
    font-family: charlie-regular;
    src: url(../../fonts/Charlie/CharlieDisplay-Regular.ttf);
}

@font-face {
    font-family: charlie-bold;
    src: url(../../fonts/Charlie/CharlieDisplay-Bold.ttf);
}

@font-face {
    font-family: charlie-Semibold;
    src: url(../../fonts/Charlie/CharlieDisplay-Semibold.ttf);
}